body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.nav {
    width: 100%;
    height: 622px;
}

.menu {
    width: 100%;
    height: 11%;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 130px;
}

.test-0-logo {
    padding: 12px;
}

.a {
    text-decoration: none;
}

.test-0-nav-1 {
    color: #5C3AFE;
    font-size: 36px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 200px
}

.test-0-nav-2 {
    width: 453px;
    height: 39px;
    border-radius: 40px;
    color: #000;
    padding: 10px;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.test-0-nav-3 {
    color: #5C3AFE;
    font-size: 36px;
    text-decoration: none;
    font-weight: bold;
}

.test-0-nav-4 {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 200px
}

.log-f {
    width: 542px;
    height: 565px;
    border-radius: 30px;
    background: #FFF;
    margin-left: 650;
    margin-top: 43px;
}

.log-t {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-top: 26px;
    padding-bottom: 69px;
}

.test-1-fpn {
    width: 411px;
    height: 78px;
    border-radius: 30px;
    background: #C8C8C8;
    color: #000;
    font-size: 36px;
    padding: 10px;
    margin-left: 66;
    margin-bottom: 15px;
}

.test-1-fps {
    width: 411px;
    height: 78px;
    border-radius: 30px;
    background: #C8C8C8;
    color: #000;
    font-size: 36px;
    padding: 10px;
    margin-left: 66;

}

.log-t1 {
    color: #000;
    text-align: center;
    font-size: 20px;
    opacity: 0, 5;
    padding-left: 230px;
}

.test-1-fbs {
    width: 230px;
    height: 83px;
    border-radius: 30px;
    background: #5C3AFE;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-left: 156px;
    margin-top: 33px;
}

.podval {
    margin-top: 100px;
    width: 1920px;
    height: 292px;
    background-color: #FFF;
    display: flex;
}

.img-pod {
    margin-top: 77px;
    margin-left: 66px;
    position: absolute;
}

.t1 {
    color: #000;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    padding-bottom: 5px;
}

.pod-t {
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    margin-top: 30px;
}

.pod-t1 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.test-0-phone {
    color: #000;
    font-size: 40px;
    font-family: Inter;
    margin-left: 250px;
    margin-top: 100px;
}